.ar-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0.4;
  pointer-events: auto;
}

.ar-leaflet-container {
  width: 100vw;
  height: 100vh;
  background: transparent !important;
}

.leaflet-container {
  background: transparent !important;
}
